# {{ ansible_managed }}


export LMOD_AUTO_SWAP="{{ LMOD_AUTO_SWAP }}"

export LMOD_CACHED_LOADS="{{ LMOD_CACHED_LOADS }}"

export LMOD_CASE_INDEPENDENT_SORTING="{{ LMOD_CASE_INDEPENDENT_SORTING }}"

export LMOD_DISABLE_NAME_AUTOSWAP="{{ LMOD_DISABLE_NAME_AUTOSWAP }}"

export LMOD_EXACT_MATCH="{{ LMOD_EXACT_MATCH }}"

export LMOD_MPATH_AVAIL="{{ LMOD_MPATH_AVAIL }}"

export LMOD_PIN_VERSIONS="{{ LMOD_PIN_VERSIONS }}"

export LMOD_MODULEPATH="{{ LMOD_MODULEPATH }}"
